.footer {
  padding: 60px 0;
  background-color: var(--logo-color-black);
}
.footer__info {
  text-align: center;
  margin-bottom: 60px;
    @include desktop {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.footer .container-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @include desktop {
  justify-content: flex-start;
  }
}

.footer__bottom-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--footer__bottom-text-color);
}
