
.header-site {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
  & .container-site {
  display: flex;}
}

.link {
  transition: color 250ms var(--animation);
}