.types-of-projects {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--portfolio-background-color);
}

.types-of-projects__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}