.header-contact {
  align-items: center;
  display: flex;
  margin-left: auto;
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
  }
}

.header-contact__item:first-child {
  @include desktop {
    margin-right: 30px;
  }
}

.header-contact__link-mail {
  padding-top: 21px;
  padding-bottom: 10px;
}
.header-tel {
  padding-bottom: 21px;
}

.header-contact__link-mail,
.header-tel {
  display: flex;
  align-items: center;
  @include font(500, 12px, 1.17, 0.02em);
  color: var(--contacts-color);
  @include desktop {
    padding-bottom: 32px;
    padding-top: 32px;
    @include font(null, 14px, 1.14, null);
  }
  &:hover,
  &:focus {
    color: var(--header-link-hover);
  }
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 8px;
  @include desktop {
    margin-right: 10px;
  }
}
