.footer-subscribe__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--cursor-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: #188ce8;}
}

.footer-subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
}
