.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:valid {
  border-color: green;}

  &:invalid {
  border-color: rgba(33, 33, 33, 0.2);}

  &:focus {
  border-color: var(--accent-color-modal);}
}

.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color-modal);
}
.modal__input-wrap {
  position: relative;
}
.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field-comment {
  margin-bottom: 20px;
}
.modal__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
  border-color: var(--accent-color-modal);}
}
