
.modal__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: #757575;
}
.modal__check-icon-border {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-check:focus + .modal__check-text > .modal__check-icon-border {
  border-color: var(--accent-color-modal);
}
.modal__input-check:hover + .modal__check-text > .modal__check-icon-border {
  border-color: var(--accent-color-modal);
}

.modal__input-check:checked + .modal__check-text > .modal__check-icon-border {
  background-color: var(--accent-color-modal);
  border: none;
}

.modal__input-check:checked + .modal__check-text .modal__icon-check {
  fill: #ffffff;
}
.modal__link-policy {
  color: var(--accent-color-modal);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--hero-button-background-color-focus-hover);}
}

.modal__field-check {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}