.header-nav {
  display: flex;
}
.header-list {
  display: flex;
}

.header-list__item {
  position: relative;
  &:not(:last-child){margin-right: 50px;}
}

.header-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-list__link-color);

    &::after {
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  transform: scale(0);
  transition: transform 250ms linear;}
  
  &:hover::after {
  transform: scale(1);}

  &.current::after {
  transform: scale(1);}

  &:hover, &:focus {
  color: var(--header-link-hover);}
}

.current {
  color: var(--curent-color);
}