.types-of-projects__item:not(:last-child) {
  margin-right: 8px;
}
.types-of-projects__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--types-of-projects__btn-color);
  background-color: var(--types-of-projects__btn-background-color);
  cursor: var(--cursor-button);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--animation), color 250ms var(--animation),
    box-shadow 250ms var(--animation);
}

.types-of-projects__btn:hover,
.types-of-projects__btn:focus,
.painted {
  background-color: var(--types-of-projects__btn-hover-focus-background-color);
  color: var(--types-of-projects__btn-hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}