.specialist__social-list {
  display: flex;
  justify-content: center;
}

.specialist__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  &:not(:last-child) {
  margin-right: 10px;}
}

.specialist__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms var(--animation), background-color 250ms var(--animation);

  &:hover,
  &:focus {
  background-color: #2196f3;
  color: #ffffff;}
}

.specialist__social-icon {
  fill: currentColor;
}
