:root {
  --logo-color-blue: #2196f3;
  --logo-color-white: #ffffff;
  --logo-color-black: #2f303a;
  --logo-span-color: #000;
  --contacts-color: #757575;
  --header-background-color: #ffffff;
  --header-list__link-color: #212121;
  --header-link-hover: #2196f3;
  --hero-background-color: #2f303a;
  --hero__title-color: #ffffff;
  --hero-button-background-color: #2196f3;
  --hero-button-color: #ffffff;
  --hero-button-background-color-focus-hover: #188ce8;
  --qualities-skills-background-color: #ffffff;
  --skills__title-color: #212121;
  --team-background-colour: #f5f4fa;
  --team__title-color: #212121;
  --specialist__team-member-color: #212121;
  --specialist__tech-skill-color: #757575;
  --footer-color: #2f303a;
  --footer__address-link-color: #ffffff;
  --footer-color-tel-mail: rgba(255, 255, 255, 0.6);
  --footer__bottom-text-color: #ffffff;
  --top-text-color: #212121;
  --bottom-text-color: #757575;
  --curent-color: #2196f3;
  --types-of-projects__btn-hover-focus-color: #ffffff;
  --types-of-projects__btn-hover-focus-background-color: #2196f3;
  --types-of-projects__btn-color: #212121;
  --types-of-projects__btn-background-color: #f5f4fa;
  --portfolio-background-color: #ffffff;
  --cursor-button: pointer;
  --team__item-background-color: #ffffff;
  --clients__title: #212121;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
  --accent-color-modal: #2196f3;
}